map $http_upgrade $host_connection_upgrade {
    default upgrade;
    '' close;
}

server {
    listen 80;
    server_name CHANGE_ME_SERVICE_DOMAIN;

    return 301 https://$host$request_uri;
}

server {
    listen 443 ssl;
    server_name CHANGE_ME_SERVICE_DOMAIN;

    ssl_certificate CHANGE_ME_TLS_CERT_FULLCHAIN_PATH;
    ssl_certificate_key CHANGE_ME_TLS_CERT_PRIVATE_KEY_PATH;
    client_max_body_size 12m;

    location / {
        proxy_pass http://127.0.0.1:CHANGE_ME_CONTAINER_NGINX_PORT;
        proxy_http_version 1.1;

        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $host_connection_upgrade;

        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto https;
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Port 443;

        proxy_read_timeout 3600s;
        proxy_send_timeout 3600s;
    }
}
