AI_IMAGE_TAG=2026-07-27.1
AI_HOST_BIND_ADDRESS=127.0.0.1
AI_HOST_PORT=8000
AI_MAP_SET_VERSION=YS-2026-07-26.1
AI_MAP_VERSIONS=YS-B2-2026-07-26.1,YS-B3-2026-07-26.1
AI_INTERNAL_TOKEN=replace-with-a-long-random-secret
AI_MAPS_HOST_PATH=./runtime_maps
AI_MODEL_CACHE_HOST_PATH=./model-cache
AI_MAX_CONCURRENT_INFERENCES=1
AI_MAX_QUEUE_SIZE=2
AI_DEFAULT_TOP_K=5
AI_INPUT_SIZE=768
