listening-port=3478
tls-listening-port=5349

fingerprint
lt-cred-mech

realm=pingo.example.com
server-name=pingo-turn

user=pingo:CHANGE_ME_TURN_PASSWORD

external-ip=CHANGE_ME_PUBLIC_SERVER_IP

min-port=49152
max-port=65535

no-cli
no-tcp-relay

log-file=stdout
simple-log